body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  background:url(../img/safebox.svg) #031321;
  background-repeat: no-repeat;
  background-size: 42.5% 90%;
  background-position: right ;
  align-items: center;
}

.password-generator{
  width:50%;
  color: #2196f3;
  font-size: 25px;
  transition: background 0.5s;
  border: 2px solid #061d30;
  padding:50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.devilitem{
  position:relative;
  display:inline-block;
}

#password{
  text-transform: capitalize;
  background: #2196f3;
  vertical-align: middle;
  font-weight: bold;
}

p{
  font-size: 14px;
  color:white;
}


.password-generator:hover{
  color:#061d30;
  background: url(../img/1477521607_halloween_outline-02_icon-icons.com_74588.svg) #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 10px #2196f3,  0 0 40px #2196f3, 0 0 10px  #2196f3;
}

.password-generator:hover #password{
  color:white;
}
