body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  background:url(../img/safebox.svg) #031321;
  background-repeat: no-repeat;
  background-size: 40% 90%;
  background-position: right ;
  align-items: center;
}

.password-generator{
  width:50%;
  color: #2196f3;
  font-size: 25px;
  transition: background 0.5s;
  border: 2px solid #061d30;
  padding:50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

}

.devilitem{
  position:relative;
  display:inline-block;
}

#password{
  opacity: .5;
  text-transform: capitalize;
  background: linear-gradient(to right, #2b3437 0%, #ff6400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
}

#img-devil{
  visibility: hidden;
  width:10%;
  position:absolute;
  top: 0;
  left: 100%;
  transform: translate(5%,10%);
}

p{
  font-size: 14px;
  color:white;
}


.password-generator:hover{
  color:#061d30;
  background: url(../img/1477521607_halloween_outline-02_icon-icons.com_74588.svg) #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 10px #2196f3,  0 0 40px #2196f3, 0 0 10px  #2196f3;
}

.password-generator:hover #password{
  color:white;
}
