body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.password-generator{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  background:#031321;
  align-items: center;
}

#password{
  color: #2196f3;
  font-size: 30px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 1px solid #255784;
  padding:50px
}

#password:hover{
  color:#255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3,  0 0 40px #2196f3, 0 0 10px  #2196f3;
}
